### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
players = (purchase_data["SN"].nunique())
total_players = pd.DataFrame({"Total Players":[players]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
items = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()
number_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

purchase_analytics = pd.DataFrame({
    "Number of Unique Items":[items],
    "Average Price":[average_price],
    "Number of Purchases":[number_purchases],
    "Total Revenue":[total_revenue]
})
purchase_analytics

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
demographics_data = purchase_data.groupby(["Gender"]).nunique()
demographics_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Gender,,,,,,,
Female,113,81,22,1,90,90,79
Male,652,484,39,1,182,178,144
Other / Non-Disclosed,15,11,8,1,13,13,12

In [6]:
player_count = demographics_data["SN"]
player_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [7]:
player_percent = (player_count/576)*100
player_percent

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [8]:
gender_sum = pd.DataFrame({"Gender":["Female","Male","Other / Non-Disclosed"],"Player Count":[81,484,11],
                        "Player Percentage":["14.06%","84.03 %","1.90%"]
    
})
gender_sum

                  Gender  Player Count Player Percentage
0                 Female            81            14.06%
1                   Male           484           84.03 %
2  Other / Non-Disclosed            11             1.90%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_count=purchase_data.groupby("Gender").nunique()
purchase_count["Purchase ID"]

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [10]:
avg_price=purchase_data.groupby("Gender").nunique()
avg_price["Price"].mean()

78.33333333333333

In [11]:
avg_purchase_total=purchase_data.groupby("Gender").nunique()
avg_purchase_total["Price"].sum()

235

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,9999]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Group"]=pd.cut(purchase_data["Age"],bins, labels = group_names)
purchase_data
purchase_data.count()
age_group = purchase_data.groupby("Age Group")
total_age_count = age_group["SN"].nunique()
percent_by_age = (total_age_count/total_players) * 100
age_demographics = pd.DataFrame({"Player Percentage": percent_by_age, "Player Count": total_age_count})
age_demographics.index.name = None
age_demographics.style.format({"Player Percentage":"{:,.2f}"})

ValueError: Shape of passed values is (9, 2), indices imply (8, 2)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
purchase_count = age_group["Purchase ID"].count()
avg_purchase_price = age_group["Price"].mean()
avg_purchase_total = age_group["Price"].sum()
avg_purchase_per_person = avg_purchase_total/total_age_count

age_demographics = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_purchase_price,
                                 "Average Purchase Total": avg_purchase_total,
                                 "Average Purchase Total per Person": avg_purchase_per_person})

age_demographics.index.name = None

age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Average Purchase Total":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
spender_stats = purchase_data.groupby("SN")
purchase_count_spender = spender_stats["Purchase ID"].count()
avg_purchase_price_spender = spender_stats["Price"].mean()
purchase_total_spender = spender_stats["Price"].sum()
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_spender, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_total_spender})

popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

popular_formatted.style.format({"Item Price":"${:,.2f})",

SyntaxError: unexpected EOF while parsing (<ipython-input-15-245a975aa09c>, line 12)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [16]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

NameError: name 'most_popular_items' is not defined